<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Productos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos" class="text-center">
                        <td>{{producto.idProducto}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>$ {{producto.precio}}</td>
                        <td>
                            <button class="btn btn-info">Agregar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>